fastapi==0.110.0
uvicorn==0.27.1
python-dotenv==1.0.1

# Force pydantic v1
pydantic==1.10.13

# LangChain (locked)
langchain==0.1.16
langchain-core==0.1.42
langchain-community==0.0.34

# Groq (compatible)
langchain-groq==0.1.3
groq==0.4.2

requests==2.31.0
tenacity==8.2.3
python-multipart==0.0.9
